.header{
	width: 100%;
	max-width: 1500 px;
	height: 20%;
	background-color: #FFFFFF;
}

.header li{
	display: inline-block; 
    list-style: none;
    vertical-align: middle;
}

.nav{
	 color: white;
	 vertical-align: center;
	 align-content: center;
}

.nav li{
	display: inline-block; 
    list-style: none;
    text-align: center;
    width: 10%; 
    vertical-align: middle;
}
