body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	width: 100%;
}

.header{
}

.relative {
	position: relative;
}

.content {
	width: 80%;
	margin: 0 auto;
}

.main-view {
	width: 85%;
	margin: 0 auto;
}

.header li {
	display: inline-block;
	list-style: none;
	vertical-align: middle;
}

.nav {
	text-align: left;
	height: 30px;
	line-height: 30px;
	background-color: #C71D29;
	color: #000;
	width: 100%;
}

.nav .subtitulonav {
	display: inline-block;
	color: #7b060e;
	font-size: 17px;
}

.nav ul {
	display: inline-block;
}

.nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 0 15px;
	color: #fff;
}

.nav ul li a {
	text-decoration: none;
	color: inherit;
}

.nav ul li:hover {
	color: #000;
	background-color: #fff;
}

.nav input {
	display: inline-block;
}

.header {
	width: 100%;
}

.header .follow-us{
	display: inline-block;
	padding-right: 48px;
	padding-top: 48px;
	float: right;
}

.footer {
	width: 100%;
}

.footer.up {
	background-color: #231F20;
	height: 130px;
	font-family: 'Roboto Slab', serif;
}

.footer.down {
	background-color: #164084;
	text-align: left;
	height: 40px;
	line-height: 40px;
}

.footer .caja {
	width: 240px;
	float: left;
	padding: 14px 5px;
	height: inherit;
	box-sizing: border-box;
}

.footer .caja .subtitulo{
	color: #C71D29;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}

.caja-content {
	margin-top: 20px;
}

.footer.up ul {
	color: #fff;
	list-style: initial;
}

.footer.up ul li {
	padding: 2px;
	font-weight: 100;
}

.footer.down ul {
	display: inline-block;
}

.footer.down ul li {
	display: inline-block;
	padding: 0 10px;
}

.footer.down ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

.copyright {
	display: inline-block;
	float: right;
	line-height: normal;
	vertical-align: middle;
	padding: 10px 0;
}

.copyright .copy{
	color: #fff;
	clear: both;
	font-size: 10px;
	padding: 1px 0;
	display: block;
}

.copyright .design{
	font-size: 6px;
	text-align: center;
	color: #000;
	clear: both;
	padding: 1px 0;
	display: block;
}

table {
	max-width: 960px;
	width: 100%;
}

th {
	text-align: left;
	color: #C71C28;
	border-bottom: 3px solid gray;
	border-collapse: collapse;
	padding: 5px;
}
