body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	width: 100%;
	min-width: 920px;
}

.header{
}

.relative {
	position: relative;
}

.content {
	width: 80%;
	margin: 0 auto;
}

.main-view {
	width: 85%;
	margin: 0 auto;
}

.header li {
	display: inline-block;
	list-style: none;
	vertical-align: middle;
}

.nav {
	text-align: left;
	height: 30px;
	line-height: 30px;
	background-color: #C71D29;
	color: #000;
	width: 100%;
}

.nav .subtitulonav {
	display: inline-block;
	color: #7b060e;
	font-size: 17px;
	padding-right: 10px;
}

.nav ul {
	display: inline-block;
}

.nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 0 20px;
	color: #fff;
}

.nav ul li a {
	text-decoration: none;
	color: inherit;
}

.nav ul li:hover {
	color: #000;
	background-color: #fff;
}

.nav input {
	display: inline-block;
}

.header {
	width: 100%;
}

.header .follow-us {
	display: inline-block;
	float: right;
	color: #5d5d5d;
	padding-top: 35px;
}

.header .follow-us .social {
	padding-top: 15px;
}

.header .follow-us .greeting {
	padding-top: 50px;
	font-family: 'Roboto Slab', serif;
}

.header .follow-us .user {
	color: #164084;
	padding-left: 5px;
}

slick {
	width: 60%;
	height: auto;
	margin: 0 auto;
}

.footer {
	width: 100%;
}

.footer.up {
	background-color: #231F20;
	color: #5d5d5d;
	height: 130px;
	font-family: 'Roboto Slab', serif;
}

.footer.down {
	background-color: #164084;
	text-align: left;
	height: 40px;
	line-height: 40px;
}

.footer .caja {
	width: 240px;
	float: left;
	padding: 14px 5px;
	height: inherit;
	box-sizing: border-box;
}

.footer .caja .subtitulo{
	color: #7b060e;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}

.caja-content {
	margin-top: 20px;
}

.footer.up .caja {
	width: 33%;
}

.footer.up ul {
	list-style: initial;
}

.footer.up ul li {
	padding: 2px;
	font-weight: 300;
}

.footer.up tr {
	height: 1.3em;
}

.footer.up td {
	color: #5d5d5d;
}

.footer.up td.label {
	color: #7b060e;
	font-weight: bold;
}

.footer.up ul.articles {
	list-style: none;
}

.footer.up ul.articles li {
	list-style: none;
}

.footer.up ul.articles img{
	width:25px;
	height: 25px;
	display: inline-block;
}

.footer.up ul.articles p{
	display: inline-block;
	padding-left: 10px;
}

.footer.down ul {
	display: inline-block;
}

.footer.down ul li {
	display: inline-block;
	padding: 0 10px;
}

.footer.down ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.copyright {
	display: inline-block;
	float: right;
	line-height: normal;
	vertical-align: middle;
	padding: 10px 0;
}

.copyright .copy{
	color: #fff;
	clear: both;
	font-size: 10px;
	padding: 1px 0;
	display: block;
}

.copyright .design{
	font-size: 7px;
	text-align: center;
	color: #000;
	clear: both;
	padding: 1px 0;
	display: block;
}

table {
	max-width: 960px;
	width: 100%;
}

th {
	text-align: left;
	color: #C71C28;
	border-bottom: 3px solid gray;
	border-collapse: collapse;
	padding: 5px;
}

.container .header {
	font-size: 40px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid;
	margin-left: 40px;
}

.container {
	color: #5d5d5d;
	font-size: 20px;
}

.row {
	width: 100%;
	display: inline-block;
}

.row .col-10 {
	float: left;
	width: 10%;
}

.row .col-20 {
	float: left;
	width: 20%;
}

.row .col-25 {
	float: left;
	width: 25%;
}

.row .col-30 {
	float: left;
	width: 30%;
}

.row .col-33 {
	float: left;
	width: 33%;
}

.row .col-40 {
	float: left;
	width: 40%;
}

.row .col-50 {
	float: left;
	width: 50%;
}

.row .col-60 {
	float: left;
	width: 60%;
}

.row .col-66 {
	float: left;
	width: 60%;
}

.row .col-70 {
	float: left;
	width: 70%;
}

.row .col-70 {
	float: left;
	width: 75%;
}

.row .col-80 {
	float: left;
	width: 80%;
}

.row .col-90 {
	float: left;
	width: 90%;
}

.row .col-100 {
	float: left;
	width: 100%;
}

.row .off-10 {
	content: "";
	margin-left: 10%;
}

.row .off-20 {
	content: "";
	margin-left: 20%;
}

.row .off-25 {
	content: "";
	margin-left: 25%;
}

.row .off-30 {
	content: "";
	margin-left: 30%;
}

.row .off-33 {
	content: "";
	margin-left: 33%;
}

.row .off-40 {
	content: "";
	margin-left: 40%;
}

.row .off-50 {
	content: "";
	margin-left: 50%;
}

.row .off-60 {
	content: "";
	margin-left: 60%;
}

.row .off-66 {
	content: "";
	margin-left: 66%;
}

.row .off-70 {
	content: "";
	margin-left: 70%;
}

.row .off-75 {
	content: "";
	margin-left: 75%;
}

.row .off-80 {
	content: "";
	margin-left: 80%;
}

.row .off-90 {
	content: "";
	margin-left: 90%;
}
