<ul class="pull-right dates-list">
  <li ng-repeat="year in dates.years"><a ng-click="activeYear = $index">{{year}}</a>
    <ul class="months" ng-show="{{activeYear == $index}}">
      <li ng-repeat="month in dates.months[$index]"><a ng-click="filterByDate($index, $parent.$index)">{{monthNames[month]}}</a></li>
    </ul>
  </li>
</ul>

<style>
.dates-list {
	font-size: 1.5em;
	line-height: 1.2em;
}

.dates-list ul {
	color: #BEBCBC;
}

.dates-list .months li {
    font-size: 0.8em;
    text-align: right;
}
</style>
